apiVersion: v1
kind: Service
metadata:
  name: users-service
  namespace: microservices-app
  labels:
    app: users-service
spec:
  type: ClusterIP
  selector:
    app: users-service
  ports:
  - port: 5001
    targetPort: 5001
    protocol: TCP
    name: http
