# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/

# Docker
*.log

# Kubernetes
*.swp
.kube/

# IDE
.vscode/
.idea/
*.sublime-*

# OS
.DS_Store
Thumbs.db

# Secrets (ne jamais commiter)
*secret*.yaml
*password*
