apiVersion: v1
kind: Service
metadata:
  name: posts-service
  namespace: microservices-app
  labels:
    app: posts-service
spec:
  type: ClusterIP
  selector:
    app: posts-service
  ports:
  - port: 5002
    targetPort: 5002
    protocol: TCP
    name: http
